@model HotelsBooking.Models.AppProfile.ProfileViewModel

<body>
    <section id="content">
        <div class="d-flex justify-content-around align-items-start ">
            <div class="row">
                <div class="col-xs-12">
                    <div class="profile-info_wrap">
                        <a asp-controller="Profile" asp-action="Edit" asp-route-id="@Model.Id" class="edit-btn"><i class="fas fa-pen"></i></a>
                        <div class="profile-info d-flex flex-column">
                            <div class="profile-name">
                                <b>@Model.FirstName @Model.LastName</b>
                            </div>
                            <div class="profile-address">
                                <div class="address_wrap">
                                    <div class="address mail-adress">@Model.Email</div>
                                </div>
                            </div>
                        </div>
                        <div class="profile-role_wrap">

                            @foreach (var role in Model.Roles)
                            {
                                <a class="@(role.ToLower() + " role-button")">@role</a>
                            }

                        </div>

                        <div class="profile-img">
                            @{
                                string imageSource;
                                if (Model.ProfileImage != null)
                                {
                                    var base64 = Convert.ToBase64String(Model.ProfileImage);
                                    imageSource = String.Format("data:image;base64,{0}", base64);
                                }
                                else
                                {
                                    imageSource = $"https://upload.wikimedia.org/wikipedia/commons/8/83/Lama_Portrait_06072007_01.jpg";
                                }
                            }
                            <img src="@imageSource"/>
                        </div>
                    </div>
                </div>

                <div class="row">

                    <div class="orders-list">

                        @foreach (var order in Model.Orders)
                        {
                            <div class="order d-flex justify-content-start align-items-center">
                                <div class="order-photo">
                                    @{
                                        string imageHotel;
                                        if (order.HotelImage != null)
                                        {
                                            var base64 = Convert.ToBase64String(order.HotelImage);
                                            imageHotel = String.Format("data:image;base64,{0}", base64);
                                        }
                                        else
                                        {
                                            imageHotel = $"https://pix10.agoda.net/hotelImages/96605/-1/dd32d9b188d86d6d8dc40d1ff9a0ebf6.jpg?s=1024x768";
                                        }
                                    }
                                    <img src="@imageHotel"/>
                                </div>
                                <div class="order-info d-flex justify-content-around align-items-center active-order">
                                    <div class="hotel-title">
                                        <span>@order.HotelName</span>
                                    </div>
                                    <div class="order-date">
                                        <div class="top-date">@order.CheckInDate.ToString("yyyy-MM-dd")</div>
                                        -
                                        <div class="bottom-date">@order.CheckOutDate.ToString("yyyy-MM-dd")</div>
                                    </div>
                                    <div class="order-price">
                                        <span>@order.Total.ToString("C")</span>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                </div>
            </div>
        </div>
    </section>
</body>